<div class="row m-4" *ngFor="let question of questions">
    <mdb-card>
        <!--Card content-->
        <mdb-card-body>

            <!--Title-->
            <mdb-card-title>
                <h4>{{question.questionNumber}}: {{question.question}}</h4>
            </mdb-card-title>
            <div *ngIf="question.questionType==='MCQ'">
                <mdb-card-header class="float-right">
                    Select the correct answer
                </mdb-card-header>
                <br>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" [id]="question.optionA" value="A"
                        [name]="question.questionNumber" ngModel mdbInput>
                    <label class="custom-control-label" [for]="question.optionA">{{question.optionA}} </label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" [id]="question.optionB" value="B"
                        [name]="question.questionNumber" ngModel mdbInput>
                    <label class="custom-control-label" [for]="question.optionB">{{question.optionB}} </label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" [id]="question.optionC" value="C"
                        [name]="question.questionNumber" ngModel mdbInput>
                    <label class="custom-control-label" [for]="question.optionC">{{question.optionC}} </label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" [id]="question.optionD" value="D"
                        [name]="question.questionNumber" ngModel mdbInput>
                    <label class="custom-control-label" [for]="question.optionD">{{question.optionD}} </label>
                </div>
            </div>
            <div *ngIf="question.questionType==='Checkboxes'">
                <mdb-card-header class="float-right">
                    Select all that applies
                </mdb-card-header>
                <br>
                <div class="form-group form-check">
                    <input type="checkbox" [id]="question.optionA" [name]="question.questionNumber+'A'"
                        class="form-check-input" ngModel>
                    <label [for]="question.optionA" class="form-check-label">{{question.optionA}}</label>
                    <br>
                    <input type="checkbox" [id]="question.optionB" [name]="question.questionNumber+'B'"
                        class="form-check-input" ngModel>
                    <label [for]="question.optionB" class="form-check-label">{{question.optionB}}</label>
                    <br>
                    <input type="checkbox" [id]="question.optionC" [name]="question.questionNumber+'C'"
                        class="form-check-input" ngModel>
                    <label [for]="question.optionC" class="form-check-label">{{question.optionC}}</label>
                    <br>
                    <input type="checkbox" [id]="question.optionD" [name]="question.questionNumber+'D'"
                        class="form-check-input" ngModel>
                    <label [for]="question.optionD" class="form-check-label">{{question.optionD}}</label>
                </div>
            </div>

            <div *ngIf="question.questionType==='Normal'">
                <mdb-card-header class="float-right">
                    Type your answer
                </mdb-card-header>
                <br>
                <input type="text" [name]="question.questionNumber" ngModel>
            </div>

            <div class="container" *ngIf="question.questionType==='Matching'">
                <div class="row">
                    <div class="col-5 offset-7">
                        <mdb-card-header class="float-right">
                            Enter in each text box the correct match
                        </mdb-card-header>
                    </div>

                </div>

                <br>
                <div class="row">
                    <div class="col-1">
                        <b>A</b>
                    </div>
                    <div class="col-4 text-center">
                        {{question.optionA}}
                    </div>
                    <div class="col-2">
                        <input type="text" oninput="this.value = this.value.toUpperCase()" size="1" maxlength="1"
                            [name]="question.questionNumber+'A'" ngModel>
                    </div>
                    <div class="col-1">
                        <b>D</b>
                    </div>
                    <div class="col-4 text-center">
                        {{question.optionD}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <b>B</b>
                    </div>
                    <div class="col-4 text-center">
                        {{question.optionB}}
                    </div>
                    <div class="col-2">
                        <input type="text" oninput="this.value = this.value.toUpperCase()" size="1" maxlength="1"
                            [name]="question.questionNumber+'B'" ngModel>
                    </div>
                    <div class="col-1">
                        <b>E</b>
                    </div>
                    <div class="col-4 text-center">
                        {{question.optionE}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <b>C</b>
                    </div>
                    <div class="col-4 text-center">
                        {{question.optionC}}
                    </div>
                    <div class="col-2">
                        <input type="text" oninput="this.value = this.value.toUpperCase()" size="1" maxlength="1"
                            [name]="question.questionNumber+'C'" ngModel>
                    </div>
                    <div class="col-1">
                        <b>F</b>
                    </div>
                    <div class="col-4 text-center">
                        {{question.optionF}}
                    </div>
                </div>
            </div>

        </mdb-card-body>
    </mdb-card>
</div>
<div class="row">
    <div class="col-3 offset-9">
        <button type="button" mdbBtn class="relative waves-light" (click)="basicModal.show()" color="indigo"
            mdbWavesEffect>Add Question</button>
    </div>
</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form #myForm="ngForm" (submit)="addQuestion(myForm.value)" novalidate>
                    <div class=row>
                        <div class="col-3">
                            <label for="question">Question</label>
                        </div>
                        <div class=col-9>
                            <textarea id="question" ngModel cols="40" name="question"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="questionType">Question type</label>
                        </div>
                        <div class="col-9">
                            <select id="questionType" name="questionType" ngModel>
                                <option value="Normal">Normal</option>
                                <option value="MCQ">MCQ</option>
                                <option value="Checkboxes">Checkboxes</option>
                                <option value="Matching">Matching</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" *ngIf="myForm.value.questionType==='Normal'">
                        <div class="col-3">
                            <label for="normalAnswer">Correct Answer</label>
                        </div>
                        <div class="col-9">
                            <input type="text" name="correctAnswer" id="normalAnswer" ngModel>
                        </div>
                    </div>
                    <div *ngIf="myForm.value.questionType==='MCQ'">
                        <div class="row">
                            <div class="col-3">
                                <label for="MCQOptionA">Option A</label>
                            </div>
                            <div class="col-2">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="MCQoptionA" value="A" name="correctAnswer" ngModel mdbInput>
                                </div>
                            </div>
                            <div class="col-7">
                                <input type="text" size="30" name="optionA" ngModel>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="MCQOptionB">Option B</label>
                            </div>
                            <div class="col-2">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="MCQoptionB" value="B" name="correctAnswer" ngModel mdbInput>
                                </div>
                            </div>
                            <div class="col-7">
                                <input type="text" size="30" name="optionB" ngModel>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="MCQOptionC">Option C</label>
                            </div>
                            <div class="col-2">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="MCQoptionC" value="C" name="correctAnswer" ngModel mdbInput>
                                </div>
                            </div>
                            <div class="col-7">
                                <input type="text" size="30" name="optionC" ngModel>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="MCQOptionD">Option D</label>
                            </div>
                            <div class="col-2">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="MCQoptionD" value="D" name="correctAnswer" ngModel mdbInput>
                                </div>
                            </div>
                            <div class="col-7">
                                <input type="text" size="30" name="optionD" ngModel>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="myForm.value.questionType==='Checkboxes'">
                        <div class="row">
                            <div class="col-3">
                                <label for="CBOptionA">Option A</label>
                            </div>
                            <div class="col-2">
                                <input type="checkbox" id="CBOptionA" name="CB-A" class="form-check-input" ngModel>
                            </div>
                            <div class="col-7">
                                <input type="text" size="30" name="optionA" ngModel>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="CBOptionB">Option B</label>
                            </div>
                            <div class="col-2">
                                <input type="checkbox" id="CBOptionB" name="CB-B" class="form-check-input" ngModel>
                            </div>
                            <div class="col-7">
                                <input type="text" size="30" name="optionB" ngModel>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="CBOptionC">Option C</label>
                            </div>
                            <div class="col-2">
                                <input type="checkbox" id="CBOptionC" name="CB-C" class="form-check-input" ngModel>
                            </div>
                            <div class="col-7">
                                <input type="text" size="30" name="optionC" ngModel>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="CBOptionD">Option D</label>
                            </div>
                            <div class="col-2">
                                <input type="checkbox" id="CBOptionD" name="CB-D" class="form-check-input" ngModel>
                            </div>
                            <div class="col-7">
                                <input type="text" size="30" name="optionD" ngModel>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="myForm.value.questionType==='Matching'">
                        <div class="row">
                            <div class="col-1">
                                A
                            </div>
                            <div class=col-5>
                                <input type="text" name="optionA" ngModel>
                            </div>
                            <div class="col-1">
                                =
                            </div>
                            <div class="col-5">
                                <input type="text" name="AMatch" ngModel>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                B
                            </div>
                            <div class=col-5>
                                <input type="text" name="optionB" ngModel>
                            </div>
                            <div class="col-1">
                                =
                            </div>
                            <div class="col-5">
                                <input type="text" name="BMatch" ngModel>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                C
                            </div>
                            <div class=col-5>
                                <input type="text" name="optionC" ngModel>
                            </div>
                            <div class="col-1">
                                =
                            </div>
                            <div class="col-5">
                                <input type="text" name="CMatch" ngModel>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                    (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                <button type="submit" mdbBtn color="primary" (click)="addQuestion(myForm.value)" class="relative waves-light" mdbWavesEffect>Add
                    question</button>
            </div>
        </div>
    </div>
</div>